<section>
    <input (change)="getWeather()" [(ngModel)]="city" autofocus placeholder="City name"
           required title="City name" type="text">
    <input (change)="getWeather()" [(ngModel)]="state" placeholder="State code"
           title="ISO 3166 state code" type="text">
    <select (change)="getWeather()" [(ngModel)]="selectedCountry" title="ISO 3166 country code">
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>
    <select (change)="getWeather()" [(ngModel)]="selectedUnit" title="Units of measurement">
        <option *ngFor="let unit of units" [value]="unit.value">{{unit.name}}</option>
    </select>
    <button (click)="getWeather()">Show weather</button>
</section>
<section class="weather">
    <div *ngFor="let cityWeather of weather" class="city-weather">
        <div class="weather-condition">{{cityWeather.place}}</div>
        <strong class="weather-condition">
            <img alt="weather icon" class="weather-icon" loading="lazy" src="assets/{{cityWeather.iconName}}.png">
            {{cityWeather.description}}
        </strong>
        <div class="weather-condition">Temperature {{cityWeather.temperature}}{{temperatureUnit}}</div>
        <div class="weather-condition">Feels like {{cityWeather.temperatureFeel}}{{temperatureUnit}}</div>
        <div class="weather-condition">Lowest temperature {{cityWeather.temperatureMin}}{{temperatureUnit}}</div>
        <div class="weather-condition">Highest temperature {{cityWeather.temperatureMax}}{{temperatureUnit}}</div>
        <div class="weather-condition">Humidity {{cityWeather.humidity}}%</div>
        <div class="weather-condition">Wind speed {{cityWeather.windSpeed}} {{windSpeedUnit}}</div>
    </div>
</section>