.weather {
    font-size: 250%;
}

.city-weather {
    margin-top: 4%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 0.4990371148459384) 0%, rgba(253, 187, 45, 0.4990371148459384) 100%);
}

.weather-condition:first-child {
    text-align: center;
    font-variant-caps: small-caps;
    border: 1px solid
}

.weather-condition {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
}

.weather-icon {
    height: 4rem;
}